*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$grey-light: #adb0b7;
$green-light:#45bb0c;
body{
    font-family: 'Lato';
    // overflow: hidden;
}
/* ---==== Common classes ====--- */
// h1, h2, h3, h4{
//     font-weight: 400;
// }
ul{
    list-style: none;
}
a, button{
    text-decoration: none;
    outline: none;
    border: none;
}
button{
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}
.SectionWrapper{ 
    padding: 100px 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.img{ 
    max-width: 100%; 
}
.btn{
    border-radius: 30px;
    width: 160px;
    padding: 15px 20px;
    font-size: 14px;
    color: $green-light;
    border: 2px solid $green-light;

}
.btn:hover{
    background-color: $green-light;
    color: #f6f7f9;
    transition: all 2s;
}
.btn--primary{
    width: 120px;
    padding: 10px;
}
.flex__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.strong{
    color: $green-light;
}
.navLink, .bannerInfo, .sectionInfo, .itemPrice{
    font-size: 16px;
}
.sectionHead{
    text-align: center;
}
.sectionTitle{
    color: #000;
    font-size: 42px;
    margin-bottom: 34px;
    font-weight: 600;
}
.sectionInfo{
    width: 50%;
    margin: 0 auto 42px;
    line-height: 26px;
}
.sectionInfo, .itemTitle{
    color: $grey-light;
}
.itemTitle{
    font-size: 18px;
}
.itemTitle, .itemPrice{
    margin-bottom: 23px;
}
.bg-green-lighter{
    background-color: #ecf7c8;
} 
.bg-skin{
    background-color: #f7e1c3;
}
.bg-pinkishRed{
    background-color: #fddad4;
}
.bg-black{
    background-color: #25262a;
}
.bg-grey{
    background-color: #f6f7f9;
}
/* ---==== //Common classes ====--- */