.footer__inner{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 1.2fr;
    column-gap: 40px;
} 
.socialmedia__list, .footer__bottom, .copyright__rightmost{
    display: flex;
    justify-content: space-between;
}
.footer__menu__title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 26px;
}
.menu__list__item{
    margin-bottom: 24px;
}
.menu__link, .copyright__info{
    color: #727682;
}
.socialmedia__list{
    position: absolute;
}
.social__media__item{
    margin: 0 30px 0 0;
}
.margin-leftzero{
    margin-left: 0;
}
.socialMedia{
    width: 20px;
    height: 20px;
    fill: #5b5b5b;
}
.menu__list--gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;    
}
.gallery__item{
    margin: 0;
}
.up__icon{
    width: 34px;
}
.copyright{
    border-top: 2px solid #2d2e33;
    padding: 18px 0;
}
.copyright__rightmost{
    width: 20%;
}