// ---===Header Section Start here ===---

.header{
    background-color: #0d0e10;
}
.headerContent, .navbar{
    display: flex;
    justify-content: space-between;
}
.headerContent{
    align-items: center;
}
.logo{
    width: 20%;
}
.nav{
    width: 75%;
}
.navLink{
    color: #fefefe;
    font-size: 16px;
}
.navbar{
    padding: 10px 0;
}
.navLink:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid #45bb0c;
}
.toggle{
    display: none;
    height: 26px;
}
// media queries for 991
@media (max-width: 991px)
{
   
}
// media queries for 
@media (max-width: 767px)
{
    
}
// media queries for 
@media (max-width: 575px)
{
    .headerContent{
        position: relative;
        padding: 20px;
        width: 575px;
    }
    .nav{
        position: absolute;
        top: 70px;
        right: -200px;
        width: 200px;
        transition: 0.5s;
    }
    .nav.active{
        top: 70px;
        right: 0;
    }
    .navbar{
        display:block;
        padding: 20px;
    }
    .navItem{
        margin-bottom: 10px;
    }
    .toggle{
        display: inline-block;
        position: absolute;
        right: 20px;
        background: #45bb0c;
        cursor: pointer;
    }
    .toggle.active{
        background: #ea1d63;
    }
    
}
// media queries for 
@media (max-width: 480px)
{
        .headerContent{
            padding: 10px;
            width: 480px;
        }
        .logo{
            width: 50%;
        }
        .nav{
            position: absolute;
            width: 100%;
            height: calc(100vh - 50px);
            background: #333;
            top: 70px;
            right: -100%;
            transition: 0.5s;
        }
        .toggle{
            display: block;
            position: absolute;
            right: 20px;
        }
        .navItem{
            margin-bottom: 10px;
        }       
        .nav.active{
            top: 65px;
            right: 0;
        }
        .navbar{
            display: block;
            text-align: center;
        }
}
// ---===Header Section Terminated here ===---