// ---===Header Section Start here ===---
.topHeader{
    position: absolute;
    width: 100%;
    top: 30px;
}
.logo{
    width: 20%;
}
.nav{
    width: 80%;
}
.headerContent, .navbar{
    display: flex;
}
.headerContent{
    align-items: flex-end;
}
.navbar{
    justify-content: flex-end;
}
.navItem{
    margin-left: 50px;
}
.navLink, .bannerTitleInfo{
    color: #fefefe;
}
.navLink{
    position: relative;
}
.navLink::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: $green-light;
    width: 0;
    height: 2px;
    transition: all 0.2s;
}
.navLink:hover::after{
    width: 100%;
}
.toggle{
    display: none;
}

/* ---===Banner Section Start here ===--- */
.bannerContent{
    width: 49%;
    height: 500px;
}
.bannerTitleInfo{
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 51px;
    font-weight: 400;
}
.bannerInfo{
    color: #fff;
    line-height: 32px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
}
.getInfoBtn{
    margin-right: 32px;
}
/* ---===Banner Section Terminated here ===--- */