/* ---===Collection Section start here ===--- */
.collectionContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}
.collectionSubcontent{
    display: flex;
    align-items: center;
    padding: 40px 30px;
}
.productImg:hover{
    transform: scale(1.5);
}
.sectionContent{
    margin-left: 30px;
}
/* ---===Collection Section Terminated here ===--- */
.featureContent h2{
    font-size: 36px;
}
.featureContent p{
    color: $primary-color;
    font-size: 16px;
}
.featureContent h2, .featureContent p{
    text-align: center;
    margin-bottom: 30px;
}
.featureSubcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}
.itemContent{
    text-align: center;
    transition: all 2s;
    padding: 20px 0;
}
.itemContent:hover{
    // text-align: center;
    color: $main-color;
    box-shadow: 4px 10px 51px #c7c7cd;
    transform: scale(1.1);
}
.itemImgBox{
    position: relative;
}
.itemImg{
    height: 170px;
    padding: 10px;
}
.heartIconContainer{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.AddToCart{
    opacity: 0;
}
.itemContent:hover .AddToCart{
    opacity: 1;
}
/* header --- 0d0e10----1b1f24

shadow-f9f9fa
font-color adaeb5*/
.heartIcon .heart__path{
    fill: #fff;
}

.heartIcon .heart__path,.heartIcon .heart__stroke,.heartIcon{
    transition: 0.3s;
}
.heartIcon.active {
    transform: scale(1.1);
}

.heartIcon.active .heart__path,.heartIcon.active .heart__stroke{
    fill: red;
    
}