/* ---===Collection Section start here ===--- */
.collection{
    position: relative;
    margin-top: -80px;
}
.collectionContent, .featureSubcontent, .sevices__inner, .provider__content{
    display: grid;
}
.collectionContent{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.collectionSubcontent, .service__content{
    display: flex;
}
.collectionSubcontent{
    align-items: center;
    padding: 25px 15px;
    transition: all 2s linear;
}
.collectionSubcontent:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.3);
}
.sectionContent{
    margin-left: 30px;
}
.productTitle{
    font-size: 28px;
    color: $green-light;
    margin-bottom: 5px;
}
.productName{
    color: #adaeb5;
    margin-bottom: 30px;
}
/* ---===Collection Section Terminated here ===--- */

/* ---===Feature Section start here ===--- */
.featureSubcontent{
    grid-template-columns: repeat(4, 1fr);
}
.featureItem{
    text-align: center;
    transition: all 0.3s linear;
    padding: 35px 10px;
    position: relative;
}
.featureItem:hover{
    box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.3);
    transform: scale(1);
    color: $green-light;
}
.heartIconContainer{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.AddToCart{
    visibility: hidden;
}
.featureItem:hover .AddToCart{
    visibility: visible;
}
.heart__svg{
    width: 25px;
    height: 20px;
}
.heartIcon .heart__path{
    fill: #fff;
}
.heartIcon .heart__path,.heartIcon .heart__stroke,.heartIcon{
    transition: all 0.3s;
}
.heartIcon.active {
    transform: scale(1.1);
}

.heartIcon.active .heart__path,.heartIcon.active .heart__stroke{
    fill: red;   
}
.itemContent{
    margin-top: 30px;
    // padding: 29px 0;
    text-align: center;
}
.itemTitle{
    color: #adaeb5;
    font-size: 18px;
}
.itemTitle, .itemPrice{
    margin-bottom: 20px;
}
.itemPrice, .service__title{
    font-size: 22px;
}
/* ---===//Feature Section Terminated here ===--- */

/* ---===Services Section Start here ===--- */
.sevices__inner{
    grid-template-columns: 1fr 1.02fr 1fr 0.8fr;
    grid-column-gap: 40px;
    // padding: 12px 0;
}
.icon__container{
    margin-right: 18px;
    width: 58px;
    height: 100%;
    border-radius: 50%;
    background-color: #3b3c41;
    text-align: center;
    transition: all 0.3s;
}
.service__content:hover .icon__container{
    background-color: $green-light;
}
.service__icon{
    width: 40px;
    height: 40px;
    fill: #fff;
    margin: 10px 0;
    padding: 3px;
}
.service__title{
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.service__info{
    color: #adaeb5;
}
/* ---===//Services Section Terminated here ===--- */

/* ---===Providers Section Terminated here ===--- */
.provider__content{
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 44px;
}
.logo__container{
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}
/* ---===//Providers Section Terminated here ===--- */

/* ---===Review Section Terminated here ===--- */
.review__content{
    position: relative;
}
.review__subcontent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 45px 20px;
    color: #fff;
    justify-content: space-between;
    z-index: 999;
}
.review__img{
    width: 100%;
}
.margin-more{
    margin-bottom: 50px;
}
.readmore__link{
    color: #fff;
}
.arrow{
    fill: #fff;
    width:28px; 
    height:24px;
    margin-left: 15px;
    vertical-align: -webkit-baseline-middle;
}
.review__slider__card{
    position: relative;
    padding-right: 10px;
}
.review__img__container::after{
    content: "";
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 111;
    top: 0;
    left: 0;
}


/* ---===//Review Section Terminated here ===--- */
/*Filter styles*/