
/* ---===Banner Section Start here ===--- */
.banner{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    color: #fff;
}
.bannerSubContent{
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bannertitle{
    font-size: 48px;
}
.bannerInfo{
    font-size: 16px;
    color: #fff;
}
.bannertitle, .bannerInfo{
    margin-bottom: 40px;
}
.getInfoBtn{
    margin-right: 30px;
}
/* ---===Banner Section Terminated here ===--- */

/* ---===Collection Section start here ===--- */
.collectionContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}
.collectionSubcontent{
    display: flex;
    align-items: center;
    padding: 40px 30px;
}
.productImg:hover{
    transform: scale(1.5);
}
.sectionContent{
    margin-left: 30px;
}
/* ---===Collection Section Terminated here ===--- */
.featureContent h2{
    color: #000;
    font-size: 36px;
}
.featureContent p{
    color: #adb0b7;
    font-size: 16px;
}
.featureContent h2, p{
    text-align: center;
    margin-bottom: 30px;
}
.featureSubcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}
.itemContent{
    text-align: center;
    transition: all 2s;
    padding: 20px 0;
}
.itemContent:hover{
    // text-align: center;
    color: #45bb0c;
    box-shadow: 4px 10px 51px #c7c7cd;
    transform: scale(1.1);
}

/* header --- 0d0e10----1b1f24

shadow-f9f9fa
font-color adaeb5*/