/* ---=== Responsive code of media queries for 991 ===--- */
@media (max-width: 991px)
{
        /* ---=== Common Classes Start here ===--- */
        .sectionInfo{
            width: 80%;
        }
        /* ---=== Common Classes End here ===--- */ 
    /* ---=== Header Section Start here ===--- */
        .nav__item{
            margin-left: 30px;
        }
    /* ---=== Header Section close here ===--- */

    /* ---=== Banner Section Start here ===--- */
        .bannerContent{
            align-items: center;
            height: 350px;
        }
        .bannerTitleInfo{
            font-size: 40px;
        }
    /* ---=== Banner Section End here ===--- */

    /* ---=== Collection Section Start here ===--- */
        .sectionContent{
            margin-left: 10px;
        }
        .productTitle{
            font-size: 24px;
        } 
    /* ---=== Collection Section End here ===--- */

    /* ---=== Feature & Products Section Start here ===--- */
        .featureSubcontent{
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
        .featureItem{
            box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.3);
        }
        .AddToCart{
            visibility: visible;
        }
    /* ---=== Feature & Products Section End here ===--- */

    /* ---=== Services Section Start here ===--- */
        .sevices__inner{
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        .icon__container{
            margin-right: 10px;
            height: 58px;
        }
        .service__title{
            margin-bottom: 10px;
            font-size: 18px;
        }
        .service__info{
            font-size: 12px;
        }
    /* ---=== Services Section End here ===--- */

    /* ---=== Providers Section Start here ===--- */
        .provider__content, .footer__inner{
            grid-gap: 30px;
        }
    /* ---=== Providers Section End here ===--- */

    /* ---=== Review Section Start here ===--- */
    /* ---=== Review Section End here ===--- */

    /* ---=== Footer & Copyright Section Start here ===--- */
    /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of media queries for 767 ===--- */
@media (max-width: 767px)
{
    /* ---=== Common Classes Start here ===--- */
    /* ---=== Common Classes End here ===--- */   
        /* ---=== Header Section Start here ===--- */
            .nav__item{
                margin-left: 20px;
            }
        /* ---=== Header Section End here ===--- */
    
        /* ---=== Banner Section Start here ===--- */
            // .bannerContent{
            //     height: 350px;
            // }
            .bannerHead{
                width: 50%;
            }
            .bannerTitleInfo{
                font-size: 35px;
            }
            .bannerInfo{
                line-height: 1.3;
            }
        /* ---=== Banner Section End here ===--- */
    
        /* ---=== Collection Section Start here ===--- */
            .collection{
                margin-top: 30px;
            }
            .collectionContent, .featureSubcontent, .sevices__inner{
                grid-template-columns: repeat(2, 1fr);
            }
            .collectionSubcontent{
                padding: 30px 20px;
            }
            .sectionContent{
                margin-left: 30px;
            }  
        /* ---=== Collection Section End here ===--- */
    
        /* ---=== Feature & Products Section Start here ===--- */
        
            .featureSubcontent{
                grid-gap: 30px;
            }
        /* ---=== Feature & Products Section End here ===--- */
    
        /* ---=== Services Section Start here ===--- */
        /* ---=== Services Section End here ===--- */
    
        /* ---=== Providers Section Start here ===--- */
        .provider__content, .footer__inner{
            grid-template-columns: repeat(3, 1fr);
        }
        /* ---=== Providers Section End here ===--- */
    
        /* ---=== Review Section Start here ===--- */
        /* ---=== Review Section End here ===--- */
    
        /* ---=== Footer & Copyright Section Start here ===--- */
        .copyright__rightmost {
            width: 25%;
        }
        /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of media queries for 575 ===--- */
@media (max-width: 575px)
{
        /* ---=== Common Classes Start here ===--- */
        .sectionInfo{
            width: 100%;
        }
        .btn{
            width: 120px;
            padding: 8px 5px;
            font-size: 14px;
        }
        /* ---=== Common Classes End here ===--- */
        /* ---=== Position of slider's content start here ===--- */
        .slider .slick-dots{
            bottom: 15%;
            right: 30px;
        }
        /* ---=== Position of slider's content End here ===--- */
    /* ---=== Header Section Start here ===--- */
    .logo{
        width: 40%;
    }
    .topHeader{
        top: 20px;
    }
    .nav{
        position: absolute;
        width: 100%;
        top: 40px;
        right: -100%;
        transition: 0.3s;
        background-color:#20292c;
        z-index: 999999;
    }
    .navbar{
        display:block;
        padding: 20px 0;
        text-align: center;
    }
    .nav__item{
        margin-bottom: 35px;
    }
    // .nav__link::after{
    //     bottom: -20px;
    // }       
    .nav.active{
        // top: 60px;
        right: 0;
    }
    .nav__link{
        transition: 0.3s;
    }

    .toggle{
        display: inline-block;
        position: absolute;
        right: 20px;
        background: $green-light;
        cursor: pointer;
    }
    .toggle:active .close{
        display:block;
        position: absolute;
        top: 0;
        right: 0;
    }
    // .headerContent{
    //     position: relative;
    // }
    /* ---=== Header Section close here ===--- */

    /* ---=== Banner Section Start here ===--- */
    .bannerContent{
        padding-top: 20px;
        justify-content: start;
    }
    .bannerHead{
        width: 60%;
    }
    .bannerTitleInfo{
        font-size: 30px;
    }
    /* ---=== Banner Section End here ===--- */

    /* ---=== Collection Section Start here ===--- */
    .collectionContent{
        grid-template-columns: 1fr;
        width: 70%;
        margin: 0 auto;
    }   
    /* ---=== Collection Section End here ===--- */

    /* ---=== Feature & Products Section Start here ===--- */
    .featureSubcontent, .sevices__inner, .provider__content, .footer__inner{
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
    /* ---=== Feature & Products Section End here ===--- */

    /* ---=== Services Section Start here ===--- */
    /* ---=== Services Section End here ===--- */

    /* ---=== Providers Section Start here ===--- */
    /* ---=== Providers Section End here ===--- */

    /* ---=== Review Section Start here ===--- */
    /* ---=== Review Section End here ===--- */

    /* ---=== Footer & Copyright Section Start here ===--- */
    .footer__bottom{
        display: block;
        text-align: center;
    }
    .copyright__info, .up__link__box{
        margin-bottom: 20px;
    }
    .copyright__rightmost{
        width: 50%;
        margin: 0 auto;
    }
    /* ---=== Footer & Copyright Section End here ===--- */   
}

/* ---=== Responsive code of media queries for 480 ===--- */
@media (max-width: 480px)
{
        /* ---=== Header Section Start here ===--- */
        /* ---=== Header Section close here ===--- */

        /* ---=== Banner Section Start here ===--- */
        .bannerContent{
            height: 100vh;
        }
        .bannerTitleInfo{
            font-size: 25px;
        }
        .bannerInfo{
            font-size: 14px;
        }
        .bannerTitleInfo, .bannerInfo{
            margin-bottom: 10px;
        }
        /* ---=== Banner Section End here ===--- */

        /* ---=== Collection Section Start here ===--- */
        /* ---=== Collection Section End here ===--- */

        /* ---=== Feature & Products Section Start here ===--- */
        /* ---=== Feature & Products Section End here ===--- */

        /* ---=== Services Section Start here ===--- */
        /* ---=== Services Section End here ===--- */

        /* ---=== Providers Section Start here ===--- */
        .sevices__inner, .provider__content, .footer__inner{
            grid-template-columns: 1fr;
            row-gap: 20px;
            width: 50%;
            margin: 0 auto;

        }
        /* ---=== Providers Section End here ===--- */

        /* ---=== Review Section Start here ===--- */
        /* ---=== Review Section End here ===--- */

        /* ---=== Footer & Copyright Section Start here ===--- */
        .footer__menu{
            text-align: center;
        }
        /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of  Review Section Start here ===--- */
/* ---=== Responsive code of  Review Section End here ===--- */
