.slick-dots li button:before{
    content: "";
}
.slick-dots li{
    display: block;
    margin-bottom: 27px;
}
.slick-dots{
    right: 50px;
    bottom: 50%;
    width: auto;
}
.slick-dots li button{
    font-size: 22px;
    // line-height: 1;
    color: #fff;

}