/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */
.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
}

/* ---==== Common classes ====--- */
ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  outline: none;
  border: none;
}

button {
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}

.SectionWrapper {
  padding: 100px 0;
}

.Section__wrapper__sm {
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.img {
  max-width: 100%;
}

.btn {
  border-radius: 30px;
  width: 160px;
  padding: 15px 20px;
  font-size: 14px;
  color: #45bb0c;
  border: 2px solid #45bb0c;
}

.btn:hover {
  background-color: #45bb0c;
  color: #f6f7f9;
  transition: all 2s;
}

.btn--primary {
  width: 120px;
  padding: 10px;
}

.flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strong {
  color: #45bb0c;
}

.navLink, .bannerInfo, .sectionInfo, .itemPrice {
  font-size: 16px;
}

.sectionHead {
  text-align: center;
}

.sectionTitle {
  color: #000;
  font-size: 42px;
  margin-bottom: 34px;
  font-weight: 600;
}

.sectionInfo {
  width: 50%;
  margin: 0 auto 42px;
  line-height: 26px;
}

.sectionInfo, .itemTitle {
  color: #adb0b7;
}

.itemTitle {
  font-size: 18px;
}

.itemTitle, .itemPrice {
  margin-bottom: 23px;
}

.bg-green-lighter {
  background-color: #ecf7c8;
}

.bg-skin {
  background-color: #f7e1c3;
}

.bg-pinkishRed {
  background-color: #fddad4;
}

.bg-black {
  background-color: #25262a;
}

.bg-grey {
  background-color: #f6f7f9;
}

/* ---==== //Common classes ====--- */
.slider .slick-dots li button:before {
  color: #afafaf;
  opacity: 1;
  font-size: 22px;
  z-index: 9999;
}

.slider #slick-slide-control00:before {
  content: "01";
}

.slider #slick-slide-control01:before {
  content: "02";
}

.slider #slick-slide-control02:before {
  content: "03";
}

.slider .slick-dots {
  right: 50px;
  bottom: 35%;
  width: auto;
}

.slider .slick-dots li {
  display: block;
  margin-bottom: 27px;
}

.slider .slick-dots li button:active {
  color: #45bb0c;
}

.slick-dots li.slick-active button:before {
  color: #45bb0c;
}

.review__slider .slick-dots {
  bottom: -60px;
}

.review__slider .slick-dots li {
  margin: 0 25px;
}

.review__slider .slick-dots li button:before {
  content: "";
}

.review__slider .slick-dots li button:before {
  border: 2px solid #45bb0c;
  height: 12px;
  opacity: 1;
  width: 12px;
}

.review__slider .slick-dots li.slick-active button:before {
  background-color: #45bb0c;
  height: 15px;
  width: 45px;
  left: -16.5px;
  top: -1.5px;
}

.topHeader {
  position: absolute;
  width: 100%;
  top: 30px;
}

.logo {
  width: 20%;
}

.nav {
  width: 80%;
}

.headerContent, .navbar {
  display: flex;
}

.headerContent {
  align-items: flex-end;
}

.navbar {
  justify-content: flex-end;
}

.navItem {
  margin-left: 50px;
}

.navLink, .bannerTitleInfo {
  color: #fefefe;
}

.navLink {
  position: relative;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: #45bb0c;
  width: 0;
  height: 2px;
  transition: all 0.2s;
}

.navLink:hover::after {
  width: 100%;
}

.toggle {
  display: none;
}

/* ---===Banner Section Start here ===--- */
.bannerContent {
  width: 49%;
  height: 500px;
}

.bannerTitleInfo {
  font-size: 48px;
  line-height: 1.13;
  margin-bottom: 20px;
  font-weight: 400;
}

.bannerInfo {
  color: #fff;
  line-height: 32px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.getInfoBtn {
  margin-right: 32px;
}

/* ---===Banner Section Terminated here ===--- */
/* ---===Collection Section start here ===--- */
.collection {
  position: relative;
  margin-top: -80px;
}

.collectionContent, .featureSubcontent, .sevices__inner, .provider__content {
  display: grid;
  grid-column-gap: 30px;
  grid-template-rows: 1fr;
}

.collectionContent {
  grid-template-columns: 1fr 1fr 1fr;
}

.collectionSubcontent, .service__content {
  display: flex;
}

.collectionSubcontent {
  align-items: center;
  padding: 40px 20px;
  transition: all 2s;
}

.collectionSubcontent:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.3);
}

.sectionContent {
  margin-left: 30px;
}

.productTitle {
  font-size: 28px;
  color: #45bb0c;
  margin-bottom: 20px;
}

.productName {
  font-size: 16px;
  color: #adaeb5;
  margin-bottom: 25px;
}

/* ---===Collection Section Terminated here ===--- */
/* ---===Feature Section start here ===--- */
.featureSubcontent {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

.featureItem {
  text-align: center;
  transition: all 2s;
  padding: 35px 10px;
  position: relative;
}

.featureItem:hover {
  box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.3);
  transform: scale(1.1);
  color: #45bb0c;
}

.featureItem:hover .itemTitle {
  color: #45bb0c;
}

.heartIconContainer {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.AddToCart {
  visibility: hidden;
  transition: all 2s;
}

.featureItem:hover .AddToCart {
  visibility: visible;
}

.heart__svg {
  width: 25px;
  height: 20px;
}

.heartIcon .heart__path {
  fill: #fff;
}

.heartIcon .heart__path, .heartIcon .heart__stroke, .heartIcon {
  transition: all 0.3s;
}

.heartIcon.active {
  transform: scale(1.1);
}

.heartIcon.active .heart__path, .heartIcon.active .heart__stroke {
  fill: red;
}

.itemContent {
  margin-top: 30px;
  text-align: center;
}

/* ---===//Feature Section Terminated here ===--- */
/* ---===Services Section Start here ===--- */
.sevices__inner {
  grid-template-columns: 1fr 1.02fr 1fr 0.8fr;
  grid-column-gap: 40px;
}

.icon__container {
  margin-right: 18px;
  width: 58px;
  height: 100%;
  border-radius: 50%;
  background-color: #3b3c41;
  text-align: center;
  transition: all 0.3s;
}

.service__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin: 10px 0;
  padding: 3px;
}

.service__title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.service__info {
  color: #adaeb5;
}

.service__info:hover .icon__container {
  background-color: #45bb0c;
}

/* ---===//Services Section Terminated here ===--- */
/* ---===Providers Section Terminated here ===--- */
.provider__content {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 44px;
}

.logo__container {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}

/* ---===//Providers Section Terminated here ===--- */
/* ---===Review Section Terminated here ===--- */
.review__content {
  position: relative;
}

.review__subcontent {
  position: absolute;
  top: 45px;
  left: 30px;
  color: #fff;
  height: 350px;
  justify-content: space-between;
  z-index: 999;
}

.review__img {
  width: 100%;
}

.margin-more {
  margin-bottom: 50px;
}

.readmore__link {
  color: #fff;
}

.arrow {
  fill: #fff;
  width: 28px;
  height: 24px;
  margin-left: 15px;
  vertical-align: -webkit-baseline-middle;
}

.review__slider__card {
  position: relative;
  padding-right: 10px;
}

.review__img__container::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 111;
  top: 0;
  left: 0;
}

/* ---===//Review Section Terminated here ===--- */
/*Filter styles*/
.footer__inner {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 1.2fr;
  column-gap: 40px;
}

.socialmedia__list, .footer__bottom, .copyright__rightmost {
  display: flex;
  justify-content: space-between;
}

.footer__menu__title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 26px;
}

.menu__list__item {
  margin-bottom: 24px;
}

.menu__link, .copyright__info {
  color: #727682;
}

.socialmedia__list {
  position: absolute;
}

.social__media__item {
  margin: 0 30px 0 0;
}

.margin-leftzero {
  margin-left: 0;
}

.socialMedia {
  width: 20px;
  height: 20px;
  fill: #5b5b5b;
}

.menu__list--gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.gallery__item {
  margin: 0;
}

.up__icon {
  width: 34px;
}

.copyright {
  border-top: 2px solid #2d2e33;
  padding: 18px 0;
}

.copyright__rightmost {
  width: 20%;
}

/* ---=== Responsive code of media queries for 991 ===--- */
@media (max-width: 991px) {
  /* ---=== Common Classes Start here ===--- */
  .sectionInfo {
    width: 80%;
  }
  /* ---=== Common Classes End here ===--- */
  /* ---=== Header Section Start here ===--- */
  .navItem {
    margin-left: 30px;
  }
  /* ---=== Header Section close here ===--- */
  /* ---=== Banner Section Start here ===--- */
  .bannerContent {
    width: 50%;
    height: 400px;
  }
  .bannerTitleInfo {
    font-size: 40px;
  }
  /* ---=== Banner Section End here ===--- */
  /* ---=== Collection Section Start here ===--- */
  .collectionContent {
    grid-column-gap: 20px;
  }
  .collectionsubContent {
    padding: 30px 10px;
  }
  .sectionContent {
    margin-left: 10px;
  }
  .productTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .productName {
    margin-bottom: 18px;
  }
  /* ---=== Collection Section End here ===--- */
  /* ---=== Feature & Products Section Start here ===--- */
  .featureSubcontent {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
  /* ---=== Feature & Products Section End here ===--- */
  /* ---=== Services Section Start here ===--- */
  .sevices__inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .icon__container {
    margin-right: 10px;
    height: 58px;
  }
  .service__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .service__info {
    font-size: 12px;
  }
  /* ---=== Services Section End here ===--- */
  /* ---=== Providers Section Start here ===--- */
  .provider__content {
    grid-column-gap: 30px;
  }
  /* ---=== Providers Section End here ===--- */
  /* ---=== Review Section Start here ===--- */
  /* ---=== Review Section End here ===--- */
  /* ---=== Footer & Copyright Section Start here ===--- */
  /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of media queries for 767 ===--- */
@media (max-width: 767px) {
  /* ---=== Common Classes Start here ===--- */
  /* ---=== Common Classes End here ===--- */
  /* ---=== Header Section Start here ===--- */
  .navItem {
    margin-left: 20px;
  }
  /* ---=== Header Section End here ===--- */
  /* ---=== Banner Section Start here ===--- */
  .bannerContent {
    width: 60%;
    height: 350px;
  }
  .bannerInfo {
    line-height: 1.3;
  }
  /* ---=== Banner Section End here ===--- */
  /* ---=== Collection Section Start here ===--- */
  .collection {
    margin-top: -50px;
  }
  .collectionContent {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .sectionContent {
    margin-left: 20px;
  }
  /* ---=== Collection Section End here ===--- */
  /* ---=== Feature & Products Section Start here ===--- */
  .featureSubcontent {
    grid-column-gap: 10px;
  }
  /* ---=== Feature & Products Section End here ===--- */
  /* ---=== Services Section Start here ===--- */
  .sevices__inner, .provider__content {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }
  /* ---=== Services Section End here ===--- */
  /* ---=== Providers Section Start here ===--- */
  /* ---=== Providers Section End here ===--- */
  /* ---=== Review Section Start here ===--- */
  /* ---=== Review Section End here ===--- */
  /* ---=== Footer & Copyright Section Start here ===--- */
  .footer__inner {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
  }
  .copyright__rightmost {
    width: 25%;
  }
  /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of media queries for 575 ===--- */
@media (max-width: 575px) {
  /* ---=== Common Classes Start here ===--- */
  .sectionInfo {
    width: 100%;
  }
  .btn {
    width: 120px;
    padding: 8px 5px;
    font-size: 14px;
  }
  /* ---=== Common Classes End here ===--- */
  /* ---=== Position of slider's content start here ===--- */
  .slider .slick-dots {
    bottom: 15%;
    right: 30px;
  }
  /* ---=== Position of slider's content End here ===--- */
  /* ---=== Header Section Start here ===--- */
  .topHeader {
    top: 20px;
  }
  .nav {
    position: absolute;
    width: 100%;
    top: 40px;
    right: -100%;
    transition: 0.5s;
    background-color: #20292c;
    z-index: 999999;
  }
  .navbar {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  .navItem {
    margin-bottom: 35px;
  }
  .navLink::after {
    bottom: -20px;
  }
  .nav.active {
    top: 40px;
    right: 0;
  }
  .toggle {
    display: inline-block;
    position: absolute;
    right: 20px;
    background: #45bb0c;
    cursor: pointer;
  }
  .toggle:active {
    background: #ea1d63;
  }
  /* ---=== Header Section close here ===--- */
  /* ---=== Banner Section Start here ===--- */
  .bannerContent {
    width: 80%;
    height: 220px;
  }
  .bannerTitleInfo {
    font-size: 30px;
  }
  .bannerInfo {
    line-height: 1;
  }
  /* ---=== Banner Section End here ===--- */
  /* ---=== Collection Section Start here ===--- */
  .collectionContent {
    grid-template-columns: 1fr;
    width: 70%;
    margin: 0 auto;
  }
  /* ---=== Collection Section End here ===--- */
  /* ---=== Feature & Products Section Start here ===--- */
  .featureSubcontent, .sevices__inner, .provider__content, .footer__inner {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  /* ---=== Feature & Products Section End here ===--- */
  /* ---=== Services Section Start here ===--- */
  /* ---=== Services Section End here ===--- */
  /* ---=== Providers Section Start here ===--- */
  /* ---=== Providers Section End here ===--- */
  /* ---=== Review Section Start here ===--- */
  /* ---=== Review Section End here ===--- */
  /* ---=== Footer & Copyright Section Start here ===--- */
  .footer__bottom {
    display: block;
    text-align: center;
  }
  .copyright__info, .up__link__box {
    margin-bottom: 20px;
  }
  .copyright__rightmost {
    width: 50%;
    margin: 0 auto;
  }
  /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of media queries for 480 ===--- */
@media (max-width: 480px) {
  /* ---=== Header Section Start here ===--- */
  /* ---=== Header Section close here ===--- */
  /* ---=== Banner Section Start here ===--- */
  .bannerTitleInfo {
    font-size: 25px;
  }
  .bannerInfo {
    font-size: 14px;
  }
  .bannerTitleInfo, .bannerInfo {
    margin-bottom: 10px;
  }
  /* ---=== Banner Section End here ===--- */
  /* ---=== Collection Section Start here ===--- */
  /* ---=== Collection Section End here ===--- */
  /* ---=== Feature & Products Section Start here ===--- */
  /* ---=== Feature & Products Section End here ===--- */
  /* ---=== Services Section Start here ===--- */
  /* ---=== Services Section End here ===--- */
  /* ---=== Providers Section Start here ===--- */
  .sevices__inner, .provider__content, .footer__inner {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 50%;
    margin: 0 auto;
  }
  /* ---=== Providers Section End here ===--- */
  /* ---=== Review Section Start here ===--- */
  /* ---=== Review Section End here ===--- */
  /* ---=== Footer & Copyright Section Start here ===--- */
  .footer__menu {
    text-align: center;
  }
  /* ---=== Footer & Copyright Section End here ===--- */
}

/* ---=== Responsive code of  Review Section Start here ===--- */
/* ---=== Responsive code of  Review Section End here ===--- */
