/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */
.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
}

/* ---==== Common classes ====--- */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.SectionWrapper {
  padding: 60px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.img {
  max-width: 100%;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.btn {
  border-radius: 30px;
  width: 160px;
  padding: 15px 20px;
  font-size: 14px;
  color: #45bb0c;
  border: 2px solid #45bb0c;
}

.btn:hover {
  background-color: #45bb0c;
  color: #f6f7f9;
  transition: all 2s;
}

.btn--primary {
  width: 120px;
  padding: 10px;
}

.flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strong {
  color: #45bb0c;
}

.navLink, .bannerInfo, .sectionInfo, .itemPrice {
  font-size: 16px;
}

.sectionHead {
  text-align: center;
}

.sectionTitle {
  font-size: 42px;
  margin-bottom: 34px;
}

.sectionInfo {
  line-height: 26px;
  margin-bottom: 42px;
}

.sectionInfo, .itemTitle {
  color: #adb0b7;
}

.itemTitle {
  font-size: 18px;
}

.itemTitle, .itemPrice {
  margin-bottom: 23px;
}

.bg-green-lighter {
  background-color: #ecf7c8;
}

.bg-skin {
  background-color: #f7e1c3;
}

.bg-pinkishRed {
  background-color: #fddad4;
}

.bg-black {
  background-color: #25262a;
}

.bg-grey {
  background-color: #f6f7f9;
}

/* ---==== //Common classes ====--- */
.slider .slick-dots li button:before {
  content: "";
}

.slider .slick-dots {
  right: 50px;
  bottom: 50%;
  width: auto;
}

.slider .slick-dots li {
  display: block;
  margin-bottom: 27px;
}

.slider .slick-dots li button {
  font-size: 22px;
  color: #fff;
}

.slider .slick-dots li button:active {
  color: #45bb0c;
}

.review__slider .slick-dots li button {
  border: 2px solid #45bb0c;
}

.topHeader {
  position: absolute;
  width: 100%;
  top: 30px;
}

.logo {
  width: 20%;
}

.nav {
  width: 80%;
}

.headerContent, .navbar {
  display: flex;
}

.headerContent {
  align-items: flex-end;
}

.navbar {
  justify-content: flex-end;
}

.navItem {
  margin-left: 50px;
}

.navLink, .bannerTitleInfo {
  color: #fefefe;
}

.navLink:hover {
  padding-bottom: 33px;
  border-bottom: 2px solid #45bb0c;
}

.toggle {
  display: none;
}

/* ---===Banner Section Start here ===--- */
.bannerContent {
  width: 49%;
  height: 500px;
}

.bannerTitleInfo {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.13;
  margin-bottom: 51px;
}

.bannerInfo {
  color: #fff;
  line-height: 32px;
  margin-bottom: 50px;
}

.getInfoBtn {
  margin-right: 32px;
}

/* ---===Banner Section Terminated here ===--- */
/* ---===Collection Section start here ===--- */
.collection {
  position: relative;
  top: -58px;
}

.collectionContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.collectionSubcontent {
  display: flex;
  align-items: center;
  padding: 40px 20px;
}

.sectionContent {
  margin-left: 30px;
}

.productTitle {
  font-size: 28px;
  color: #45bb0c;
  margin-bottom: 27px;
}

.productName {
  font-size: 16px;
  color: #adaeb5;
  margin-bottom: 25px;
}

/* ---===Collection Section Terminated here ===--- */
/* ---===Feature Section start here ===--- */
.featureContent h2 {
  font-size: 36px;
}

.featureSubcontent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}

.featureItem {
  text-align: center;
  transition: all 2s;
  padding-top: 33px;
}

.featureItem:hover {
  color: #45bb0c;
  box-shadow: 10px 10px 30px rgba(199, 199, 205, 0.5);
  transform: scale(1.1);
}

.featureItem:hover .itemTitle {
  color: #45bb0c;
}

.itemImgBox {
  position: relative;
}

.heartIconContainer {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.AddToCart {
  visibility: hidden;
}

.featureItem:hover .AddToCart {
  visibility: visible;
  transition: all 1s;
}

.heartIcon .heart__path {
  fill: #fff;
}

.heartIcon .heart__path, .heartIcon .heart__stroke, .heartIcon {
  transition: all 0.3s;
}

.heartIcon.active {
  transform: scale(1.1);
}

.heartIcon.active .heart__path, .heartIcon.active .heart__stroke {
  fill: red;
}

.itemContent {
  padding: 29px 0;
  text-align: center;
}

/* ---===//Feature Section Terminated here ===--- */
/* ---===Services Section Start here ===--- */
.sevices__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 44px;
  padding: 12px 0;
}

.service__content {
  display: flex;
}

.icon__container {
  margin-right: 18px;
  width: 20%;
}

.service__btn {
  border-radius: 50%;
  background-color: #3b3c41;
}

.service__btn:hover {
  background-color: #45bb0c;
}

.service__icon {
  width: 100%;
  fill: #fff;
}

.service__title {
  margin-bottom: 14px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.service__info {
  color: #adaeb5;
}

/* ---===//Services Section Terminated here ===--- */
/* ---===Providers Section Terminated here ===--- */
.provider__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 44px;
}

.logo__container {
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
}

/* ---===//Providers Section Terminated here ===--- */
/* ---===Review Section Terminated here ===--- */
.review__content {
  position: relative;
}

.review__subcontent {
  position: absolute;
  top: 45px;
  left: 30px;
  color: #fff;
  height: 350px;
  justify-content: space-between;
}

.margin-more {
  margin-bottom: 50px;
}

.readmore__btn {
  color: #fff;
}

/* ---===//Review Section Terminated here ===--- */
.footer__inner, .footer__bottom, .copyright__rightmost {
  display: flex;
  justify-content: space-between;
}

.footer__menu__title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 26px;
}

.menu__list__item {
  margin-bottom: 24px;
}

.menu__link, .copyright__info {
  color: #727682;
}

.social__menu__list {
  display: flex;
  justify-content: space-between;
}

.socialMedia {
  width: 20px;
  height: 20px;
  fill: #5b5b5b;
}

.menu__list--gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.gallery__item {
  margin: 0;
}

.ctrl__icon {
  width: 34px;
}

.copyright {
  border-top: 2px solid #2d2e33;
  padding: 18px 0;
}

.copyright__rightmost {
  width: 20%;
}
